#screen-container {
  border: 1px solid black;
  position: relative;
  margin: 150px auto 0px;
  height: 300px;
  width: 402px;
  color: black;
  background-color: white;
  outline: 2px solid black;
  outline-offset: -5px;
}
