#main-container {
  background-color: rgb(185, 185, 185);
  position: relative;
  margin: 150px auto 0px;
  height: 300px;
  width: 400px;
}
#wheel-container {
  background-color: white;
  margin: 150px auto 0px;
  height: 300px;
  width: 300px;
  border-radius: 150px;
}
#center-btn {
  background-color: rgb(185, 185, 185);
  height: 120px;
  width: 120px;
  border-radius: 150px;
  position: absolute;
  left: 138px;
  top: 93px;
}

#menu {
  position: absolute;
  color: rgb(185, 185, 185);
  top: 40px;
  left: 166px;
  font-size: 135%;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
#next {
  /* background-color: black; */
  position: absolute;
  top: 142px;
  left: 277px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
#nextImg {
  width: 40px;
}

#play {
  /* background-color: black; */
  position: absolute;
  top: 241px;
  left: 173px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

#playImg {
  width: 47px;
}

#prev {
  /* background-color: black; */
  position: absolute;
  top: 142px;
  left: 78px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

#prevImg {
  width: 40px;
}
