#main-container {
  /* background-color: rgb(185, 185, 185); */
  position: relative;
  margin: auto;
  height: 300px;
  width: 400px;
}
#wheel-container {
  background-color: white;
  margin: auto;
  height: 270px;
  width: 270px;
  border-radius: 150px;
  top: 17px;
  position: absolute;
  left: 63px;
}
#center-btn {
  background-color: rgb(185, 185, 185);
  height: 120px;
  width: 120px;
  border-radius: 150px;
  position: absolute;
  left: 138px;
  top: 93px;
}

#menu {
  position: absolute;
  color: rgb(185, 185, 185);
  top: 40px;
  left: 166px;
  font-size: 135%;
  font-weight: bold;
  user-select: none;
}

#menu-link {
  cursor: default;
  user-select: none;
}
#next {
  /* background-color: black; */
  position: absolute;
  top: 142px;
  left: 277px;
  user-select: none;
}
#nextImg {
  width: 40px;
}

#play {
  /* background-color: black; */
  position: absolute;
  top: 241px;
  left: 173px;

  user-select: none;
}

#playImg {
  width: 47px;
}

#prev {
  /* background-color: black; */
  position: absolute;
  top: 142px;
  left: 78px;

  user-select: none;
}

#prevImg {
  width: 40px;
}
