#main-container {
  /* background-color: rgb(185, 185, 185); */
  position: relative;
  margin: auto;
  height: 300px;
  width: 400px;
}
#wheel-container {
  background-color: white;
  margin: auto;
  height: 240px;
  width: 240px;
  border-radius: 150px;
  top: 28px;
  position: absolute;
  left: 67px;
}
#center-btn {
  background-color: rgb(185, 185, 185);
  height: 88px;
  width: 88px;
  border-radius: 150px;
  position: absolute;
  left: 146px;
  top: 108px;
}

#menu {
  position: absolute;
  color: rgb(185, 185, 185);
  top: 60px;
  left: 161px;
  font-size: 135%;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

#menu-link {
  cursor: default;
  user-select: none;
}
#next {
  /* background-color: black; */
  position: absolute;
  top: 142px;
  left: 248px;
  /* -webkit-user-select: none; */
  user-select: none;
}
#nextImg {
  width: 40px;
}

#play {
  /* background-color: black; */
  position: absolute;
  top: 221px;
  left: 165px;

  /* -webkit-user-select: none; */
  user-select: none;
}

#playImg {
  width: 47px;
}

#prev {
  /* background-color: black;  */
  position: absolute;
  top: 142px;
  left: 90px;
  /* -webkit-user-select: none; */
  user-select: none;
}

#prevImg {
  width: 40px;
}
